@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "~bootstrap/scss/bootstrap";
@import "public/scss/main.scss";

:root{
    --msg-primary: #173b37;
}

.rce-mbox {
    background-color: var(--msg-primary) !important;
}

.rce-mbox .rce-mbox-body,
.rce-mbox .rce-mbox-body p,
.rce-mbox .rce-mbox-body a,
.rce-mbox .rce-mbox-body div,
.rce-mbox .rce-mbox-body span,
.rce-mbox .rce-mbox-body h1,
.rce-mbox .rce-mbox-body h2,
.rce-mbox .rce-mbox-body h3,
.rce-mbox .rce-mbox-body h4,
.rce-mbox .rce-mbox-body h5,
.rce-mbox .rce-mbox-body h6,
.rce-mbox .rce-mbox-body ul,
.rce-mbox .rce-mbox-body ol,
.rce-mbox .rce-mbox-body li,
.rce-mbox .rce-mbox-body table,
.rce-mbox .rce-mbox-body tr,
.rce-mbox .rce-mbox-body td,
.rce-mbox .rce-mbox-body th,
.rce-mbox .rce-mbox-body tbody,
.rce-mbox .rce-mbox-body thead,
.rce-mbox .rce-mbox-body tfoot,
.rce-mbox .rce-mbox-body blockquote,
.rce-mbox .rce-mbox-body pre{
    color: white !important;
    margin-bottom: 0 !important;
}

.rce-mbox-text.right::after{
    display: none !important;
}



.rce-mbox svg {
    fill: var(--msg-primary) !important;
}

.sun-editor{
    font-family: var(--bs-body-font-family) !important;
}